@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

@font-face {
  font-family: "BravoRGRegular";
  font-display: swap;
  src: url("../fonts/BravoRGRegular.woff") format("woff"), url("../fonts/BravoRGRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ceremonious";
  font-display: swap;
  src: url("../fonts/ceremonious_one.woff") format("woff"), url("../fonts/ceremonious_one.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PFDin";
  font-display: swap;
  src: url("../fonts/pfdintextcondpro-medium.woff") format("woff"), url("../fonts/pfdintextcondpro-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PFDin";
  font-display: swap;
  src: url("../fonts/pfdintextcondpro-regular.woff") format("woff"), url("../fonts/pfdintextcondpro-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "PT Sans";
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 950px;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

.btn {
  position: relative;
  display: inline-flex;
}
.btn:before, .btn:after {
  content: "";
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
}
.btn:before {
  top: 0;
  background-color: #bb9c66;
}
.btn:after {
  bottom: 0;
  background-color: #8e662f;
}
.btn__body {
  display: inline-flex;
  padding: 0px 0px;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  position: relative;
}
.btn__body:before, .btn__body:after {
  content: "";
  position: absolute;
  top: 0;
  width: 3px;
  height: 100%;
}
.btn__body:before {
  left: 0;
  background-image: linear-gradient(to top, #8e662f, #bb9c66);
}
.btn__body:after {
  right: 0;
  background-image: linear-gradient(to top, #8e662f, #bb9c66);
}
.btn__body span {
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "PFDin";
  letter-spacing: 1.5px;
  position: relative;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__body span:after {
  content: "";
  height: 200%;
  background-image: linear-gradient(to top, #bb9c66 0%, rgba(187, 156, 102, 0) 100%);
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.1;
  transition: all 0.5s ease 0s;
}
.btn__big {
  display: flex;
  justify-content: center;
}
.btn__big .btn__body {
  position: static;
}
.btn__big .btn__body span {
  font-size: 21px;
  color: #000;
  font-weight: 500;
  padding: 0px 25px;
  letter-spacing: 0px;
}
@media (min-width: 992px) {
  .btn:hover .btn__body span:after {
    height: -50%;
    opacity: 0.5;
  }
}

.header {
  background-color: #1c242a;
  position: relative;
  z-index: 50;
}
.header__container {
  position: relative;
  display: flex;
  align-items: center;
  height: 75px;
  width: 100%;
}
.header__logo {
  margin-left: 10px;
}
@media (max-width: 767.98px) {
  .header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    z-index: 2;
    margin: 0;
  }
}
.menu {
  flex: 1 1 auto;
  padding: 0 0 0 3.1578947368%;
}
.menu__body {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
@media (max-width: 767.98px) {
  .menu__body {
    background-color: #1c2a2af0;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 80px 0 20px 0;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease 0s;
  }
  .menu__body:after {
    content: "";
    background-color: #1c242a;
    position: fixed;
    left: 0;
    top: 0;
    height: 75px;
    width: 100%;
  }
  .menu__body._active {
    visibility: visible;
    opacity: 1;
  }
}
.menu__body .header_globe_mobile {
  display: none;
}
@media (max-width: 767.98px) {
  .menu__body .header_globe_mobile {
    display: block;
  }
}
.menu__list {
  display: flex;
  justify-content: center;
}
.menu__list li {
  margin: 0 15px;
}
@media (max-width: 767.98px) {
  .menu__list {
    display: block;
    text-align: center;
    margin: 80px 0 0 0;
  }
  .menu__list li {
    margin: 0 0 30px 0;
  }
  .menu__list li:last-child {
    margin: 0;
  }
}
.menu__link a, .actions-header__region a {
  letter-spacing: 1.4px;
  color: #ffffff;
  font-family: "PFDin";
  text-transform: uppercase;
  line-height: 18px;
}
@media (max-width: 767.98px) {
  .menu__link a, .actions-header__region a {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .menu__link:hover, .actions-header__region:hover {
    text-decoration: underline;
  }
}

@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: relative;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    top: calc(50% - 1px);
    background-color: #bb9c66;
    left: 0px;
    position: absolute;
    height: 2px;
    width: 100%;
    transition: all 0.3s ease 0s;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu._active span {
    transform: scale(0);
  }
  .icon-menu._active span:first-child {
    transform: scale(1) rotate(45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    transform: scale(1) rotate(-45deg);
    bottom: calc(50% - 1px);
  }
}

.actions-header {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
@media (max-width: 767.98px) {
  .actions-header {
    margin: 0;
  }
}
.actions-header__region {
  position: relative;
  z-index: 2;
  letter-spacing: 1.4px;
  color: #ffffff;
  font-family: "PFDin";
  text-transform: uppercase;
}
@media (max-width: 915px) {
  .actions-header__region {
    margin-right: -20px;
  }
  .actions-header__region span {
    display: none;
  }
}
@media (min-width: 992px) {
  .actions-header:hover {
    text-decoration: underline;
  }
}
.actions-header__user {
  margin: 0 0 0 30px;
}
@media (max-width: 890px) {
  .actions-header__user {
    margin: 0 0 0 15px;
  }
}
@media (max-width: 767.98px) {
  .actions-header .header_globe_decstop {
    display: none;
  }
}

.user-header__icon {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.user-header__menu {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  position: absolute;
  top: 88px;
  right: 0;
  background-color: #1c242a;
  padding: 20px;
  min-width: 176px;
}
.user-header__menu li {
  margin: 0 0 10px 0;
}
.user-header__menu li:last-child {
  margin: 0px 0px 0px 0px;
}
.user-header__menu._active {
  opacity: 1;
  visibility: visible;
  top: 78px;
}
@media (max-width: 767.98px) {
  .user-header__menu {
    width: 100%;
  }
}
.user-header__link {
  color: #fff;
  padding: 0 0 0 30px;
  display: block;
}
@media (min-width: 992px) {
  .user-header__link:hover {
    text-decoration: underline;
  }
}

.page {
  flex: 1 1 auto;
}

.main-slider {
  position: relative;
}
.main-slider .swiper-wrapper {
  align-items: stretch;
}
@media (max-width: 767.98px) {
  .main-slider .swiper-wrapper {
    align-items: flex-start;
  }
}
.main-slider .swiper-slide {
  z-index: 1;
}
.main-slider__control {
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 100px;
  height: 100px;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.main-slider__control:after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.item-main-slider {
  position: relative;
  padding: 30px 0 100px 0;
  text-align: center;
}
.item-main-slider__content {
  position: relative;
  z-index: 2;
  height: 100%;
}
.item-main-slider__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-main-slider__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.item-main-slider__text {
  color: #ffffff;
  font-size: 15px;
  line-height: calc(25 / 15);
  max-width: 700px;
  margin: 25px auto 0px auto;
  flex: 1 1 auto;
}
.item-main-slider__btn {
  margin: 55px 0px 0px 0px;
}

.control-main-slider__arrow {
  position: relative;
  z-index: 2;
  background: url(../images/arrow.png) 0 0 no-repeat;
  min-width: 14px;
  height: 24px;
  cursor: pointer;
}
.control-main-slider__arrow_next {
  transform: rotate(-180deg);
}
.control-main-slider__decor {
  position: relative;
  z-index: 2;
  margin: 0 12px;
  animation: rotate 3s infinite linear;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.title {
  text-align: center;
}
.title__item {
  font-family: "ceremonious";
  color: #bb9c66;
  font-size: 40px;
  margin: 0px 0px 0.5em 0px;
}
.title__main {
  font-family: "PFDin";
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5.25px;
  color: #000;
  font-weight: 400;
  line-height: calc(40 / 35);
}
.title__main_w {
  color: #ffffff;
}
@media (max-width: 767.98px) {
  .title__main {
    font-size: 30px;
  }
}

.swiper {
  overflow: hidden;
}

.swiper-slide {
  height: auto;
}

.swiper > div {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  position: relative;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.lots {
  padding: 85px 0 65px 0;
}
.lots__header {
  margin: 0 0 40px 0;
}

.block-header__title {
  margin: 0 0 20px 0;
}
.block-decor {
  display: flex;
  align-items: center;
}
.block-decor__items {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
.block-decor__items:before {
  content: "";
  height: 1px;
  flex: 1 1 auto;
  background-color: #bb9c66;
}
.block-decor__items:after {
  content: "";
  height: 18px;
  flex: 0 0 18px;
  border: 1px solid #8d7f67;
  transform: rotate(-45deg);
  margin: 0 5px;
}
.block-decor__items span {
  display: flex;
  align-items: center;
  margin: 0 5px;
}
.block-decor__items span:before {
  content: "";
  height: 10px;
  width: 10px;
  flex: 0 0 10px;
  border-radius: 50%;
  border: 1px solid #bb9c66;
  margin: 0 5px;
}
.block-decor__items span:after {
  content: "";
  width: 10.5px;
  height: 10.5px;
  flex: 0 0 10.8px;
  border: 1px solid #bb9c66;
  transform: rotate(-45deg);
}
.block-decor__items:last-child {
  flex-direction: row-reverse;
}
.block-decor__items:last-child span {
  flex-direction: row-reverse;
}
.block-decor__icon {
  text-align: center;
  flex: 0 0 145px;
}
.block-decor__icon img {
  max-width: 70px;
}
@media (max-width: 767.98px) {
  .block-decor__icon {
    flex: 0 0 95px;
  }
}

.slider-lots__body {
  margin: 0 -50px 50px;
}
.slider-lots__body .swiper-wrapper {
  align-items: stretch;
}
@media (max-width: 975px) {
  .slider-lots__body {
    margin: 0 -15px 50px;
  }
}
.slider-lots__slide {
  padding: 0 50px;
}
@media (max-width: 975px) {
  .slider-lots__slide {
    padding: 0 15px;
  }
}
.control-slider-lots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.control-slider-lots__arrow {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: flex-end;
}
.control-slider-lots__arrow span {
  background: url(../images/block-header/sl-arrow2.svg) left no-repeat;
  overflow: hidden;
  width: 108px;
  height: 35px;
  flex: 0 0 108px;
}
@media (max-width: 450px) {
  .control-slider-lots__arrow span {
    flex: 0 0 58px;
  }
}
.control-slider-lots__arrow:after {
  margin: 0 5px;
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid #bb9c66;
}
.control-slider-lots__arrow:last-child {
  flex-direction: row-reverse;
}
.control-slider-lots__arrow:last-child span {
  transform: rotate(-180deg);
}
.control-slider-lots__link {
  background: url(../images/block-header/circle.png) 0 0 no-repeat;
  width: 100px;
  flex: 0 0 100px;
  height: 100px;
  font-size: 21px;
  font-weight: 500;
  font-family: "PFDin";
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  margin: 0 20px;
}

.lot {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}
.lot__header {
  text-align: center;
  margin: 0 0 30px 0;
  position: relative;
}
.lot__image {
  display: block;
  padding: 0 0 98% 0;
  border: 3px solid #bb9c66;
}
.lot__title {
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "PFDin";
  color: #000000;
  line-height: calc(25 / 21);
  position: relative;
  z-index: 2;
  flex: 1 1 auto;
  margin: 0 0 1.2857142857em 0;
}
@media (max-width: 975px) {
  .lot__title {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .lot__title:hover {
    text-decoration: underline;
  }
}
.lot__btn {
  margin: 0 25px;
  margin: 0 auto;
}

.timer-lot {
  transform: translate(-50%, 50%);
  width: 72px;
  height: 72px;
  display: inline-flex;
  align-items: center;
  padding: 2px 0 0 0;
  flex-direction: column;
  position: absolute;
  left: 50%;
  bottom: 0;
}
.timer-lot div {
  position: relative;
  z-index: 2;
}
.timer-lot:before {
  content: "";
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
}
.timer-lot__icon {
  margin: 0 0 5px 0;
}
.timer-lot__item {
  font-size: 18px;
  font-weight: 400;
  font-family: "PFDin";
}

.info-lot {
  display: flex;
  justify-content: center;
  margin: 0 0 35px 0;
}
.info-lot__stat {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 0 0 50px;
}
.info-lot__icon {
  width: 18px;
  height: 18px;
  margin: 0 0 10px 0;
  margin: 0 auto 10px auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}
.info-lot__icon img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.info-lot__icon:after {
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
  position: absolute;
}
.info-lot__value {
  font-size: 14px;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #bb9c66;
}
.info-lot__current-bet {
  flex: 1 1 auto;
}
@media (max-width: 975px) {
  .info-lot__current-bet {
    flex: 0 0 auto;
  }
}

.current-bet {
  padding: 0 5px;
  position: relative;
}
@media (max-width: 975px) {
  .current-bet {
    padding: 0 10px;
  }
}
.current-bet:after {
  content: "";
  position: absolute;
  border: 1px solid #bb9c66;
  width: 72px;
  height: 72px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.current-bet div {
  position: relative;
  z-index: 2;
}
.current-bet__value {
  font-family: "BravoRGRegular";
  font-size: 50px;
  font-weight: 400;
  white-space: nowrap;
}
@media (max-width: 975px) {
  .current-bet__value {
    font-size: 35px;
  }
}