extends layout/header.pug

block content
    div(class="wrapper")
        main(class="page")
            include layout/slider.pug
            include layout/lots.pug
            include layout/categories.pug
            include layout/services.pug
            include layout/quotes.pug
            include layout/info.pug
            include layout/footer.pug
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(src="./js/app.js")