footer(class="footer")
    div(class="footer__content _container")
        div(class="footer__column footer__column_full")
            a(class="footer__logo")
                img(src="images/logo.png")
            div(class="footer__info") Все права защищены
        div(class="footer__column")
            nav(class="footer__menu")
                ul(class="footer__list")
                    li
                        a(class="footer__link _goto-block" href="#main-slider") Главная
                    li
                        a(class="footer__link _goto-block" href="#lots") Аукцион
                    li
                        a(class="footer__link _goto-block" href="#services") О проекте
                    li
                        a(class="footer__link _goto-block" href="#quotes") Партнерам
                    li
                        a(class="footer__link _goto-block" href="#info") Контакты
                    li
                        a(class="footer__link" href="#") Новости
                    li
                        a(class="footer__link" href="#") FAQ
                    li
                        a(class="footer__link" href="#") Реклама
                    li
                        a(class="footer__link" href="#") Соглашение
                    li
                        a(class="footer__link" href="#") Регистрация
                    li
                        a(class="footer__link" href="#") Услуги
        div(class="footer__column")
            div(class="footer__contacts")
                div(class="footer__phone")
                        small +7
                        a(class="footer__phone_link" href="tel:+7495020022") (495) 02 00 22
                a(class="footer__callback" href="#")
                    span Обратная связь
