//- div(class="info")
div(class="info")
    div(class="info__container _container")
        div(class="info__row")
            //- НОВОСТИ
            div(class="info__column")
                section(class="info__block")
                    h3(class="info__title title-info")
                        span
                            img(src="images/icons/news.svg")
                        span Новости
                    div(class="info__content")
                        //- НОВОСТЬ 1
                        div(class="info__item")
                            div(class="info__date") 12.07.14
                            a(class="info__label") Уникальной Лакшери аукционе, здесь вы сможете найти
                            div(class="info__text") Продажа товаров, ценных бумаг, имущества предприятий, произведений искусства и других объектов, которая...
                        //- НОВОСТЬ 2
                        div(class="info__item")
                            div(class="info__date") 25.08.14
                            a(class="info__label") Уникальная возможность для инвесторов
                            div(class="info__text") Стартует стройка века, приглашаются крупные инвесторы, предполпгаемый срок окупаемости...
                            //- НОВОСТЬ 3
                        div(class="info__item")
                            div(class="info__date") 12.07.14
                            a(class="info__label") Уникальной Лакшери аукционе, здесь вы сможете найти
                            div(class="info__text") Продажа товаров, ценных бумаг, имущества предприятий, произведений искусства и других объектов, которая...
            //- СОБЫТИЯ
            div(class="info__column")
                section(class="info__block")
                    h3(class="info__title title-info")
                        span
                            img(src="images/icons/flag.png")
                        span События
                    div(class="info__content")
                        //- СОБЫТИЕ 1
                        div(class="info__item")
                            a(class="info__label") Достойные для себя лоты
                            div(class="info__text") Имущества предприятий, произведений искусства и других объектов, произведений редприятий, произведений искусств Продажа товаров, ценных бумаг, имущества предприятий, произведений искусства и других объектов, которая...
                        //- СОБЫТИЕ 2
                        div(class="info__item")
                            a(class="info__label") Уникальной Лакшери аукционе, здесь вы сможете найти
                            div(class="info__text") Имущества предприятий, произведений искусства и других объектов, произведений редприятий, произведений искусств Продажа товаров, ценных бумаг, имущества предприятий, произведений искусства и других объектов, которая...
            //- ПОДПИСКА
            div(class="info__column")
                div(class="info__subscribe subscribe")
                    div(class="subscribe__title title-info")
                        span
                            img(src="images/icons/subscribe.svg")
                        span Подписка
                    div(class="subscribe__body")
                        div(class="subscribe__column")
                            div(class="subscribe__text") Для получения уведомлений о новых предложениях, введите адрес своей электронной почты
                        div(class="subscribe__column")
                            form(class="subscribe__form form-subscribe" action="#")
                                div(class="form-subscribe__input") 
                                    input(data-value="Ваш e-mail" placeholder="Ваш e-mail" class="input")
                                button(class="form-subscribe__btn")
                                    span OK
