div(class="lots")
    div(class="lots__container _container")
        div(class="lots__header block-header")
            div(class="block-header__title title")
                div(class="title__item") Популярные 
                div(class="title__main") Лоты под аукцион
            div(class="block-header__decor block-decor")
                div(class="block-decor__items")
                    span
                div(class="block-decor__icon")
                    img(src="./images/block-header/01.png")
                div(class="block-decor__items")
                    span
        div(class="lots__slider slider-lots")
            div(class="slider-lots__body swiper")
                div(class="slider-lots__wrapper swiper-wrapper")
                    //- 1 SLIDE =============================================================
                    div(class="slider-lots__slide swiper-slide")
                        div(class="lot")
                            div(class="lot__header")
                                a(class="lot__image _ibg" href="#")
                                    img(src="images/lots/01.jpg")
                                div(class="lot__timer timer-lot")
                                    div(class="timer-lot__icon")
                                        img(src="images/icons/timer.svg")
                                    div(class="timer-lot__item") 3:30:30:30
                            a(class="lot__title" href="") Arnold & Son Worldtimer discovery of antarctica
                            div(class="lot__info info-lot")
                                div(class="info-lot__stat")
                                    div(class="info-lot__icon")
                                        img(src="images/icons/eye.png")
                                    div(class="info-lot__value") 1 098
                                div(class="info-lot__current-bet current-bet")
                                    div(class="current-bet__label") Текущая ставка
                                    div(class="current-bet__value") 18 999 000
                                    div(class="current-bet__currency") Р
                                div(class="info-lot__stat")
                                    div(class="info-lot__icon")
                                        img(src="images/icons/hand.png")
                                    div(class="info-lot__value") 75
                            a(class="lot__btn btn btn__big" href="#") 
                                span(class="btn__body") 
                                    span Поднять ставку
                    //- 2 SLIDE =============================================================
                    div(class="slider-lots__slide swiper-slide")
                        div(class="lot")
                            div(class="lot__header")
                                a(class="lot__image _ibg" href="#")
                                    img(src="images/lots/02.jpg")
                                div(class="lot__timer timer-lot")
                                    div(class="timer-lot__icon")
                                        img(src="images/icons/timer.svg")
                                    div(class="timer-lot__item") 3:30:30:30
                            a(class="lot__title" href="") Chateau Lafite 1949
                            div(class="lot__info info-lot")
                                div(class="info-lot__stat")
                                    div(class="info-lot__icon")
                                        img(src="images/icons/eye.png")
                                    div(class="info-lot__value") 1 098
                                div(class="info-lot__current-bet current-bet")
                                    div(class="current-bet__label") Текущая ставка
                                    div(class="current-bet__value") 245 050
                                    div(class="current-bet__currency") Р
                                div(class="info-lot__stat")
                                    div(class="info-lot__icon")
                                        img(src="images/icons/hand.png")
                                    div(class="info-lot__value") 75
                            a(class="lot__btn btn btn__big" href="#") 
                                span(class="btn__body") 
                                    span Поднять ставку
                    //- 3 SLIDE =============================================================
                    div(class="slider-lots__slide swiper-slide")
                        div(class="lot")
                            div(class="lot__header")
                                a(class="lot__image _ibg" href="#")
                                    img(src="images/lots/03.jpg")
                                div(class="lot__timer timer-lot")
                                    div(class="timer-lot__icon")
                                        img(src="images/icons/timer.svg")
                                    div(class="timer-lot__item") 3:30:30:30
                            a(class="lot__title" href="") Rolex Paul Newman Daytona
                            div(class="lot__info info-lot")
                                div(class="info-lot__stat")
                                    div(class="info-lot__icon")
                                        img(src="images/icons/eye.png")
                                    div(class="info-lot__value") 1 098
                                div(class="info-lot__current-bet current-bet")
                                    div(class="current-bet__label") Текущая ставка
                                    div(class="current-bet__value") 18 999 000
                                    div(class="current-bet__currency") Р
                                div(class="info-lot__stat")
                                    div(class="info-lot__icon")
                                        img(src="images/icons/hand.png")
                                    div(class="info-lot__value") 75
                            a(class="lot__btn btn btn__big" href="#") 
                                span(class="btn__body") 
                                    span Поднять ставку
            div(class="slider-lots__control control-slider-lots")
                div(class="control-slider-lots__arrow control-slider-lots__arrow_prev")
                    span
                a(class="control-slider-lots__link" href="#") Все лоты
                div(class="control-slider-lots__arrow control-slider-lots__arrow_next")
                    span
