//- div(class="")
section(class="quotes")
    div(class="quotes__conteiner _container")
        div(class="quotes__header block-header")
            div(class="block-header__title title")
                div(class="title__item") Интересные 
                div(class="title__main title__main_m") Цитаты
            div(class="block-header__decor block-decor")
                div(class="block-decor__items")
                    span
                div(class="block-decor__icon")
                    img(src="./images/block-header/03.png")
                div(class="block-decor__items")
                    span
        div(class="quotes__slider slider-quotes")
            div(class="slider-quotes__body swiper")
                div(class="slider-quotes__wrapper swiper-wrapper")
                    //- SLIDE 1
                    div(class="slider-quotes__slide swiper-slide")
                        div(class="slider-quotes__image")
                            img(src="images/quotes/mark.png")
                        div(class="slider-quotes__content")
                            div(class="slider-quotes__title") «Легче одурачить людей, чем убедить их в том, что они одурачены»
                            div(class="slider-quotes__info")
                                p Марк Твен
                                p 1835 -1910
                    //- SLIDE 2
                    div(class="slider-quotes__slide swiper-slide")
                        div(class="slider-quotes__image")
                            img(src="images/quotes/mark.png")
                        div(class="slider-quotes__content")
                            div(class="slider-quotes__title") «Не то забота, что много работы, а то забота, как нет её»
                            div(class="slider-quotes__info")
                                p Марк Твен
                                p 1835 -1910
            div(class="slider-quotes__controls controls-slider-quotes")
                div(class="controls-slider-quotes__decor")
                div(class="controls-slider-quotes__link")
                    div(class="controls-slider-quotes__circle")
                div(class="controls-slider-quotes__decor")