//- div(class="")
section(class="services")
    div(class="services__container _container")
        div(class="services__header block-header")
            div(class="block-header__title title")
                div(class="title__item") Дополнительные 
                div(class="title__main title__main_w title__main_m") Услуги
            div(class="block-header__decor block-decor")
                div(class="block-decor__items")
                    span
                div(class="block-decor__icon")
                    img(src="./images/block-header/02.png")
                div(class="block-decor__items")
                    span
        div(class="services__row")
            //- ITEM 1
            div(class="services__column")
                div(class="services__item service")
                    a(class="service__image" href="#")
                        img(src="./images/services/01.png")
                    a(class="service__title" href="#") Экспертная оценка
                    div(class="service__text") Мы собираем эксклюзивную публику и экслюзивные лоты, даем удобный
                    a(class="service__btn" href="#")
                        span Подробнее
            //- ITEM 2
            div(class="services__column")
                div(class="services__item service")
                    a(class="service__image" href="#")
                        img(src="./images/services/02.png")
                    a(class="service__title" href="#") заказ комплектующих
                    div(class="service__text") Мы собираем эксклюзивную публику и экслюзивные лоты, даем удобный
                    a(class="service__btn" href="#")
                        span Подробнее
            //- ITEM 3
            div(class="services__column")
                div(class="services__item service")
                    a(class="service__image" href="#")
                        img(src="./images/services/03.png")
                    a(class="service__title" href="#") ремонт и реставрация
                    div(class="service__text") Мы собираем эксклюзивную публику и экслюзивные лоты, даем удобный
                    a(class="service__btn" href="#")
                        span Подробнее
