block variables 

div(class="main-slider")
    div(class="main-slider__body swiper")
        div(class="swiper-wrapper")
            div(class="main-slider__item item-main-slider swiper-slide")
                div(class="item-main-slider__content")
                    div(class="item-main-slider__container _container")
                        div(class="title")
                            div(class="title__item") Только эксклюзивные 
                            div(class="title__main title__main_w") Лоты под аукцион и свободную продажу
                        div(class="item-main-slider__text") Мы собираем эксклюзивную публику и экслюзивные лоты, даем удобный и автоматизированный сервис по покупке и продаже, а также выставлению лотов на аукцион, предоставляем личные кабинеты, а также оказываем сопутствубщие услуги с продажей редких и дорогих вещей
                        a(class="item-main-slider__btn btn" href="#") 
                            span(class="btn__body") 
                                span Присоединиться
                div(class="item-main-slider__bg _ibg")
                    img(src="./images/Layer_3.png" alt="")
            div(class="main-slider__item item-main-slider swiper-slide")
                div(class="item-main-slider__content")
                    div(class="item-main-slider__container _container")
                        div(class="title")
                            div(class="title__item") Только эксклюзивные 
                            div(class="title__main title__main_w") Лоты под аукцион и свободную продажу
                        div(class="item-main-slider__text") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab quia tenetur impedit corporis quisquam iure eligendi, eos sint molestiae explicabo sit consequuntur dolorem commodi qui atque cumque. Voluptatum, magnam in. Мы собираем эксклюзивную публику и экслюзивные лоты, даем удобный и автоматизированный сервис по покупке и продаже, а также выставлению лотов на аукцион, предоставляем личные кабинеты, а также оказываем сопутствубщие услуги с продажей редких и дорогих вещей
                        a(class="item-main-slider__btn btn" href="#") 
                            span(class="btn__body") 
                                span Присоединиться
                div(class="item-main-slider__bg _ibg")
                    img(src="./images/Layer_3.png" alt="")
    div(class="main-slider__control control-main-slider")
        div(class="control-main-slider__arrow control-main-slider__arrow_prev")
        div(class="control-main-slider__decor")
            img(class="" src="./images/rotate.png" alt="")
        div(class="control-main-slider__arrow control-main-slider__arrow_next")